<!DOCTYPE html>
<html>
        {{!-- for text editor --}}
        <script src='js\tinymce.min.js'></script>
        <script>
          function textboxinit() {
            tinymce.init({
              selector: '#description',
              width: 600,
              height: 300
            });
          }
        </script>
{{> head}}

<body onload='textboxinit();'>
  {{> nav user}}
  {{> header}}
  <div class="details">
    <h2>Welcome to your Dashboard</h2>
    <div class="promo">
      <p>{{user.reviews}} reviews | {{user.trips}} trips | {{user.visits}} visits</p>
    </div>
    <div class="card">
      <h4>Notifications</h4>
      <p>No new messages</p>
    </div>
    <div class="card">
      <h4>Personal Information</h4>
      <ul>
        <li>Account Type: {{user.usertype}}</li>
        <li>Name: {{user.fname}} {{user.lname}}</li>
        <li>Email: {{user.email}}</li>
        <li>Member Since: {{user.createdOn}}</li>
      </ul>
    </div>
        <div class="card">
      <h4>Your Bookings</h4>
      {{#if hasBookings}}
        {{#each bookings}}
        <hr>
            <table>
                <tr >
                    <td class="tabletitle">Confirmation Number: </td>
                    <td class="tabledata">{{this._id}}</td>
                </tr>
                <tr>
                    <td class="tabletitle">Check-in:</td>
                    <td class="tabledata">{{this.startDate}}</td>
                </tr>
                <tr>
                    <td class="tabletitle">Check-out:</td>
                    <td class="tabledata">{{this.startDate}}</td>
                </tr>
                <tr>
                    <td class="tabletitle">Total:</td>
                    <td class="tabledata">{{this.totalPrice}}</td>
                </tr>
            </table>
        {{/each}}
      {{else}}
      <ul>
        <li>No bookings</li>
      </ul>
      {{/if}}
    </div>

    {{#if adminStatus}}
    <div class="card">
      <h4>Your Listings</h4>
      {{#if hasListings}}
      <div class="uploadResults">
        {{#each listings}}
        <div class="listing">
          <a href="/details"><img src="photos/{{this.filename}}" /></a>
          <p>
            <b>{{this.title}}</b> <br> {{this.city}} <br>{{this.type}} <br> ${{this.price}} CAD/night<br><br>
            {{{this.description}}}
          </p>
          <div class="row remove">
            <form class="remove" title="Remove photo" action="/remove-listing/{{filename}}" method="post">
              <button type="submit" class="btn btn-primary mb-2">
                <img src="/images/trash_can.png" width="10" />
              </button>
            </form>

            <form class="remove" title="Edit photo" action="/edit-listing/{{filename}}" method="post">
              <button type="submit" class="btn btn-primary mb-2">
                <img src="/images/edit.png" width="10" />
              </button>
            </form>

          </div>

        </div>
        {{/each}}
      </div>
      {{else}}
      <ul>
        <li>No listings</li>
      </ul>
      {{/if}}
    </div>
    <div class="card">
      <h4>Add New Listing</h4>
      <form action="/add-listing" method="POST" enctype="multipart/form-data">
        <label class="fixedLabel">Listing Type</label>
        <select class="upload-form" id="type" name="type" required>
          <option selected></option>
          <option value="Single Room">Single Room</option>
          <option value="Entire House">Entire House</option>
        </select>
        <label class="fixedLabel">Listing Name</label>
        <input class="upload-form" type="text" id="title" name="title" maxlength="75" required>
        <label class="fixedLabel">Add a Description of your Listing</label>
        <textarea id="description" name="description" value=""></textarea>
        <label class="fixedLabel">Location</label>
        <select class="upload-form" id="city" name="city" required>
          <option selected></option>
          <option value="Toronto">Toronto</option>
          <option value="Halifax">Halifax</option>
          <option value="Vancouver">Vancouver</option>
          <option value="Saskatoon">Saskatoon</option>
        </select>
        <label class="fixedLabel">Price per night</label>
        <input class="upload-form" type="number" min="1" step="0.01" id="price" name="price" required>
        <label class="fixedLabel" for="photo">Upload Photo</label>
        <input id="photo" name="photo" type="file" required><br>
        <hr />
        <button type="submit" class="btn btn-primary mb-2">Confirm</button><br>
      </form>
    </div>
    {{/if}}
  </div>

  {{> footer}}
</body>

</html>