<!DOCTYPE html>
<html>

{{> head}}

<body>
    {{> nav user}}
    {{> header}}
    <div class="details">
        <h2>{{listing.title}}</h2>
        <div class="card">
            <div class="row">
                <p class="col">{{listing.city}}, Canada</p>
                <form action="/add-to-favourites" method="POST">
                <input type="hidden" id="listingID" name="listingID" value={{listing._id}}>
                <input type="hidden" id="title" name="title" value="{{{listing.title}}}">
                <input type="hidden" id="filename" name="filename" value="{{listing.filename}}">
                <button type="submit" class="btn btn-primary mb-2">Add to Favourites</button>
                </form>
                <a id="share" href=""><button type="button" class="btn btn-primary mb-2" onclick="sendMail()">SHARE</button></a>
            </div>
        </div>
        <div class="previewpics">
            <div class="row">
                <div class="col">
                    <img src="/photos/listing3bed.jpg" />
                </div>
                <div class="col">
                    <img src="/photos/{{listing.filename}}" />
                    <img src="/photos/listing3bathroom.jpg" />
                </div>
                <div class="col">
                    <img src="/photos/listing3kitchen.jpg" />
                    <img src="/photos/listing3terrace.jpg" />
                </div>
            </div>
        </div>
        <div class="promo" id="booknow">
            <form action="/create-booking" method="POST">
                <div class="row">
                    <div class="col label"><label for="startDate">CHECK-IN</label></div>
                    <div class="col option">
                        <input type="date" class="form-control" id="startDate" required>
                    </div>
                    <div class="col label"><label for="endDate">CHECKOUT</label></div>
                    <div class="col option" style="margin-right: 1em;">
                        <input type="date" class="form-control" id="endDate" oninput="calculate({{listing.price}})"
                            required>
                    </div>
                </div>
                <div class="row left-align">
                    <p id="costEst" hidden></p>
                </div>
                <input type="hidden" id="listingID" name="listingID" value={{listing._id}}>
                <input type="hidden" id="bookingStart" name="bookingStart">
                <input type="hidden" id="bookingEnd" name="bookingEnd">
                <input type="hidden" id="stayLength" name="stayLength">
                <input type="hidden" id="cost" name="cost">
                <input type="hidden" id="ownerID" name="ownerID" value={{owner._id}}>
                <div class="row left-align"> <button type="submit" class="btn btn-primary mb-2">BOOK NOW</button></div>
            </form>
        </div>
        <h3>{{listing.type}} hosted by {{owner.fname}}</h3>
        <div class="card">
            <p>2 guests | 1 bedroom | 1 bed | 1 bath</p>
        </div>
        <div class="card">
            <h4>About the Place</h4>
            {{{listing.description}}}
            <br>
            <p>Price: ${{listing.price}} per night</p>
        </div>
        <div class="card">
            <h4>Amenities</h4>
            <ul>
                <li>Wifi</li>
                <li>Kitchen</li>
                <li>Essentials</li>
                <li>Balcony</li>
            </ul>
        </div>
        <div class="card">
            <h4>Cancellation Policy</h4>
            <p>We're ready when you are. Cancel or change your booking up to 24 hours before your expected arrival.
                We're doing everything we can do to deliver a safe, easy and convenient stay. <br>To make space for a
                smooth experience, cancellations within 24 hours of check-in will be billed only the service and
                cleaning fee. Caring for our guests and renters is our top priority.</p>
        </div>
        <div class="card"></div>
    </div>
    {{> footer}}
    {{!-- for cost estimate --}}
    <script>
        function calculate(price) {
            var start = new Date(document.getElementById('startDate').value);
            var end = new Date(document.getElementById('endDate').value);
            var days = (end - start) / (1000 * 60 * 60 * 24);
            const formatter = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'USD',
                minimumFractionDigits: 2
            })
            if (start && end && days > 0) {
                var accomodation = formatter.format(price * days);
                document.getElementById('costEst').innerHTML = '<hr>Estimate for ' + days + ' nights: ' + accomodation;
                document.getElementById('costEst').hidden = false;
                document.getElementById('bookingStart').value = start;
                document.getElementById('bookingEnd').value = end;
                document.getElementById('stayLength').value = days;
                document.getElementById('cost').value = accomodation;
            }
            else {
                document.getElementById('costEst').innerHTML = '*Select other dates';
                document.getElementById('costEst').hidden = false;
            }
        }
    </script>
    {{!-- for share --}}
    <script>
        function sendMail() {
            var a = document.getElementById('share');
            a.href = "mailto:?subject={{{listing.title}}}%20AirBnB%20&body=" + document.URL;
        };
    </script>
</body>

</html>