<!DOCTYPE html>
<html>

{{> head}}

<body>
    {{> nav user}}
    {{> header}}
{{> searchBar}}

    <div class="row searchResults">
       {{#if hasListings}} {{#each listings}}
        <div class="listing">
            <a href="/details/{{this._id}}"><img src="photos/{{this.filename}}" /></a>
            <p>
               <b>{{this.title}}</b> <br> {{this.city}} <br>{{this.type}} <br>  ${{this.price}} CAD/night
            </p>
        </div>
        {{/each}} {{else}}
        <p>No listings match your search</p>
        {{/if}}
    </div>
    {{> footer}}
</body>

</html>