<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AirB&B Search</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    {{> nav user}}
    {{> header}}
    <div class="row searchResults">
       {{#if hasListings}} {{#each listings}}
        <div class="listing">
            <a href="/details"><img src="images/{{this.filename}}" /></a>
            <p>
               <b>{{this.title}}</b> <br> {{this.city}} <br>{{this.type}} <br>  ${{this.price}} CAD/night
            </p>
        </div>
        {{/each}} {{else}}
        <p>No listings match your search</p>
        {{/if}}
    </div>
    {{> footer}}
</body>

</html>